* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Quicksand", sans-serif;
}

/* regole struttura */

.screen {
  height: 100vh;
  width: 100%;
  background-color: coral;
}

.head_bar {
  height: 30px;
  width: 100%;
  padding: 0 10px;
  background-color: lightseagreen;
  font-size: 14px;
}

main {
  height: calc(100% - 30px);
  width: 100%;
  background-color: darkcyan;
}

/* regole flex */
.flex {
  display: flex;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.just_cen {
  justify-content: center;
}

.space_bet {
  justify-content: space-between;
}

.align_cen {
  align-items: center;
}

/* common rules */
ul li {
  list-style-type: none;
}

.pointer {
  cursor: pointer;
}

/* head_bar */
.commands span {
  margin-left: 10px;
  cursor: pointer;
}

.commands span:hover {
  opacity: 0.7;
}

/* LEFT_PART */
.left_part {
  height: 100%;
  width: 40%;
  border-right: solid 1px #393939;
  background-color: #161621;
}
.left_part > div {
  padding: 0 10px;
}

.upper_bar {
  height: 60px;
  background-color: #393939;
}

.my_profile {
  border-right: solid 1px #6c6c6c;
}

/* search */
.search {
  height: 45px;
  border-bottom: solid 1px #393939;
}

.search_box {
  height: 80%;
  width: 100%;
  padding: 0 10px;
  background-color: #393939;
  border-radius: 22.5px;
}

.search_box input {
  height: 65%;
  width: 80%;
  background-color: #393939;
  border: none;
  border-radius: 22.5px;
}

.search_box input:focus {
  outline: none;
}

/* my_contacts */
.my_contact_li {
  height: 70px;
}

.my_contact_profileimg {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
}

.my_contact_ref {
  
}

/* right_part */
.right_part {
  height: 100%;
  width: 60%;
  background-color: black
}
