* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Quicksand", sans-serif;
}

/* regole struttura */

.screen {
  height: 100vh;
  width: 100%;
  background-color: coral;
}

.head_bar {
  flex-shrink: 0;
  height: 30px;
  width: 100%;
  padding: 0 10px;
  background-color: lightseagreen;
  font-size: 14px;
}

main {
  height: calc(100% - 30px);
  width: 100%;
  background-color: darkcyan;
}

/* regole flex */
.flex {
  display: flex;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.just_cen {
  justify-content: center;
}

.space_bet {
  justify-content: space-between;
}

.align_cen {
  align-items: center;
}

/* common rules */
ul li {
  list-style-type: none;
}

input:focus {
  outline: none;
}

.pointer {
  cursor: pointer;
}

/* head_bar */
.commands span {
  margin-left: 10px;
  cursor: pointer;
}

.commands span:hover {
  opacity: 0.7;
}

/* LEFT_PART */
.left_part {
  height: 100%;
  width: 40%;
  border-right: solid 1px #393939;
  background-color: #161621;
}

/* .left_part > div {
  padding: 0 10px;
} */

.upper_bar {
  flex-shrink: 0;
  height: 60px;
  padding: 0 10px;
  background-color: #393939;
}

.upper_bar span {
  font-size: 20px;
  opacity: 0.7;
  cursor: pointer;
}

/* my_profile */
.my_profile {
  border-right: solid 1px #6c6c6c;
}

.my_profile span {
  margin-left: 10px;
}

.my_profileimg {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}

.my_settings span.stories {
  position: relative;
}

.my_settings span.green_point {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, 5%);
  height: 8px;
  width: 8px;
  background-color: mediumspringgreen;
  border-radius: 50%;
}

.my_settings span:hover {
  opacity: 1;
}

/* search */
.search {
  flex-shrink: 0;
  height: 45px;
  padding: 0 10px;
  border-bottom: solid 1px #393939;
}

.search_box {
  height: 80%;
  width: 100%;
  padding: 0 10px;
  background-color: #393939;
  border-radius: 22.5px;
}

.search span {
  opacity: 0.7;
}

.search_box input {
  height: 65%;
  width: 80%;
  background-color: #393939;
  border: none;
  border-radius: 22.5px;
}

/* my_contacts */
.my_contacts {
  flex-grow: 1;
  overflow: auto;
}

.contact_li {
  height: 70px;
  padding: 0 10px;
}

.my_contacts li:hover,
.my_contacts li:focus {
  background-color: #393939;
}

.contact_profileimg {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}

.contact_ref {
  flex-grow: 1;
  padding: 10px 0;
  border-bottom: solid 1px #393939;
}

.contact_ref span {
  font-size: 14px;
  opacity: 0.7;
}

/* right_part */
.right_part {
  height: 100%;
  width: 60%;
  background-image: url(../img/wallpaper.jpg);
  background-size: cover;
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
}

.contact_page {
  padding: 0 10px;
}

.contact_page span {
  margin-left: 10px;
}

.contact_page_img {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}
